
<div class="creden">

  <form class="form">
    <h2>Credentials</h2>

    <input type="text" placeholder="Firstname" name="" id="">
    <input type="text" placeholder="Lastname" name="" id="">
    <input type="text" placeholder="Middlename" name="" id="">
    <textarea name="" placeholder="Address" id="" cols="30" rows="5"></textarea>
    <input type="email" placeholder="Email" name="" id="">
    <input type="number" placeholder="Number" name="" id="">
    <button type="submit">Send</button>
  </form>
</div>