<div class="about">
  <div class="wrapper">
    <h1>Hi, my name is Ma. Rina Ragobrio!</h1>
    <hr />
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur
      nesciunt quidem, voluptatum suscipit, harum obcaecati, dolorum quis iste
      libero enim iusto? Fugiat rem tenetur, voluptatum iste, fuga aliquam est
      repellat, molestias temporibus porro minus! Distinctio, beatae labore
      neque voluptatibus ut sapiente a quaerat impedit consequuntur nostrum
      fugiat sed, dolor, dolorem quae. Maxime asperiores sit in rerum quae,
      aliquam consequatur magni placeat unde laudantium sapiente tempore dolore
      amet praesentium ipsa, nostrum veniam et nihil blanditiis inventore.
      Facilis neque et temporibus quam veritatis magni dolor, molestias porro
      non laboriosam fugiat nisi minus? Repellat maxime debitis dicta omnis
      ipsa! Pariatur quia fuga repellat laborum aut, error mollitia ab ducimus
      sunt minus similique unde fugit voluptatum voluptas asperiores impedit
      quis eius dolorem reprehenderit molestiae exercitationem ut veniam
      quaerat? Provident mollitia porro illum eligendi aut quas omnis accusamus
      animi soluta voluptatem alias reiciendis quam voluptates hic nobis facilis
      culpa sit quidem necessitatibus, laudantium, ut atque distinctio vel!
      Adipisci libero repudiandae sunt sapiente, sequi totam quis. Maxime quae
      accusamus dignissimos adipisci magni veritatis, voluptatum dicta, eaque
      sed cupiditate dolor rerum, suscipit et voluptates itaque libero. Eos sed
      soluta magnam, illum aperiam odio nam quasi unde placeat! Possimus at
      blanditiis hic enim earum exercitationem amet commodi inventore nam,
      voluptatem itaque aperiam quas atque dolor cumque dolore quasi a? Nihil
      atque illo dolorem reprehenderit. Debitis sequi impedit neque libero saepe
      quidem accusantium voluptate amet molestiae, quod nemo dignissimos iusto
      corrupti dolor repellendus et blanditiis ullam in reiciendis. Nemo
      possimus consequatur rerum sint repudiandae voluptas perferendis eos
      officiis cumque.
    </p>
  </div>
</div>
